body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
    padding: 24px;
    margin: 24px 48px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.page-content {
    margin: 48px 24px 24px 24px;
    padding: 24px;
}

.page-footer {
    margin: 24px 0 24px 24px;
}

.mdc-text-field {
    width: calc(100% - 52px);
    margin: 25px;
}